# m h  dom mon dow   command
* * * * * /home/pi/Pumper/uptime-metric.sh >> /home/pi/uptime-metric.log 2>> /home/pi/uptime-metric.err
*/5 * * * * /home/pi/Pumper/wifi_controller.sh >> /home/pi/wificontroller.log 2>> /home/pi/wifi-controller.err


